nav {
    background-color: #55f3ff;
    display: flex;
    justify-content: space-evenly;
}
nav>a {
    color:black;
    text-decoration: none;
    justify-content: center;
    margin: 1rem 3rem 3rem 0;
    padding: 0rem;
    margin-top: 3.5rem;
    font-size:larger
}
nav>a:hover {
    background-color: #55f3ff;
    color: black;
    text-decoration: none;
    border: 2px solid black;
}
body {
    background-color: black;
    color: white;
    font-family: "superclarendon", serif;
    font-weight: 400;
    font-style: normal;
}
header {
    justify-content: space-evenly;
}
h1 {
    text-decoration: 10px solid underline;
    padding: 1rem;
}
li {
    font-size: 30px;
}
p {
    padding: 1rem;
    text-align: center;
}
.white {
    background-color: white;
    color: black;
    width: 60%;
    margin-left: auto;
    margin-right: 5rem;
    vertical-align: top;
}
.center {
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
ul {
    list-style: square;
}
.message {
    padding: 5rem;
}
.center {
    margin: auto;
    width: 50%;
    padding: 10px;
    margin-top: 15px;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
input[type=submit] {
    background-color: #00709f;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-family: "superclarendon", serif;
    font-weight: 400;
  }
  .about {
    align-items: center;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
  }
.about>img {
    grid-column-start:1;
    grid-column-end:2;
    grid-row-start:1;
    grid-row-end:2;
}
.about>p {
    grid-column-start:2;
    grid-column-end:3;
    grid-row-start:1;
    grid-row-end:2;
}
.index {
    display: flex;
    justify-content: space-evenly;
    order: -1;
}
th, td {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
  }
  th {
    font-size: larger;
  }
  table{
    border:1px solid white;
}
th, td{
    border:1px solid white;
}
  @media (max-width:840px){
    nav>a {
        font-size: small;
        justify-content: center;
        margin: auto;
    }
    .index>img {
        height: 200px;
        width: auto;
    }
    .index>ul {
        font-size: smaller;
    }
    .white {
        width: 200px;
    }

  }