nav {
    background-color: #55f3ff;
}
nav>a {
    color:black;
    text-decoration: none;
    display: inline-block;
    justify-content: center;
    margin: 1rem 3rem 3rem 0;
    padding: 1rem;
}
nav>a:hover {
    background-color: #55f3ff;
    color: black;
    text-decoration: none;
    border: 2px solid black;
}
body {
    background-color: black;
    color: white;
    font-family: "superclarendon", serif;
    font-weight: 400;
    font-style: normal;
}
header {
    justify-content: space-evenly;
}
h1 {
    text-decoration: 10px solid underline;
    padding: 1rem;
}
li {
    font-size: 30px;
}
p {
    padding: 1rem;
    text-align: center;
}
.white {
    background-color: white;
    color: black;
    width: 60%;
    margin-left: auto;
    margin-right: 5rem;
    vertical-align: top;
}
.center {
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
ul {
    list-style: square;
}
.message {
    padding: 5rem;
}
.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
input[type=submit] {
    background-color: #00709f;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-family: "superclarendon", serif;
    font-weight: 400;
  }